@model  IEnumerable<Services.Models.Service>
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Services</h2>

@if (Model.Count() == 0)
{
    <text>There is no Services</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Services</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ser in Model)
            {
                <tr>
                    <td>@Html.ActionLink(ser.ServiceName,"Details","Service",new {id=ser.ServiceId},null)</td>
                </tr>

            }
        </tbody>
    </table>




}



