@model Services.Models.Service
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service ID @Model.ServiceId</h2>
<h2>@Model.ServiceName</h2>
<h2>@Model.ServiceCost</h2>


